<!DOCTYPE html>
<!--
Audiovisualization using the html canvas element.
©2017, Dominik Hofacker
https://www.behance.net/dominikhofacker
Please consider supporting this project on behance:
https://www.behance.net/gallery/49260123/Web-Audio-Visualization
-->
    <head>
        <meta charset="utf-8">
        <meta content='IE=8' http-equiv='X-UA-Compatible'>
        <title>Jukestapose</title>
        <meta name="viewport" content="width=device-width">
        <link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">       
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://use.fontawesome.com/230fb0e4c1.js"></script>

    </head>
    <body>
      
      <form method="post" name="fileinfo" enctype="multipart/form-data"> 
        <input type="file" id="Invisibleinput" onchange="handleFiles(this.files)" style="display:none"/>
        <input type="submit" value="submit" style="display:none">
      </form>
       <p class="derpy">音 </p><p class="derpy2">楽</p>
       <span id="loading"></span>
        <div id="song_info_wrapper">
            <div id="artist">Artist</div>
            <div id="title">Title</div>
            <div id="album">Album</div>
        </div>
        <img src="{{ url_for('static', filename='css/veil.png') }}" class="bgimg">
        <a onclick="success()" class="derp"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
        <canvas id="freq" width="1024" height="525"></canvas>
    </body>

<script src="{{ url_for('static', filename='src/bufferloader.js') }}"></script>
<script src="{{ url_for('static', filename='src/id3-minimized.js') }}"></script>
<script src="{{ url_for('static', filename='src/audiovisualisierung.js') }}"></script>

</html>
